body{
  background-color: lightblue;
}

h1{
  text-decoration: underline;
}

#bgc_select,
#dicecount_select,
#dicecolor_select{
  margin-bottom: 10px;
}

main{
  padding: 20px;
  max-width: 80vw;
  max-height: 90vw;
  border: 2px solid;
  border-radius: 15px;
  background-color: #fff;
  margin: 0 auto;
}

#dice_container{
  display: flex;
}

.white{ background-color: white; }
.purple{ background-color: darkorchid; }
.blue{ background-color: aliceblue; }