@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Permanent+Marker&display=swap');

body {
  background-color: lightblue;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}


h1 {
  text-decoration: underline;
}

.mb-15 {
  margin-bottom: 15px;
}

#dice_size_slider {
  margin-top: 10px;
}

main {
  padding: 20px;
  max-width: 80vw;
  /* max-height: 90vw; */
  border: 2px solid;
  border-radius: 15px;
  background-color: #fff;
  margin: 0 auto;
}

#button_container {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-wrap: wrap;
}

#option_btn {
  display: flex;
  gap: 10px;
  height: 30px;
  align-items: center;
  margin-right: auto;
}

#roll_btn {
  width: 20vw;
  height: 8vh;
  margin-right: 30px;
  margin-bottom: 25px;
}

/* https://www.w3schools.com/howto/howto_css_animate_buttons.asp */
#roll_btn {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: lightslategray;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#roll_btn:hover {background-color: slategray}

#roll_btn:active {
  background-color: slategray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#roll_btn:disabled {
  background-color: slategray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#option_btn > img {
  width: 20px;
}

.hidden {
  display: none;
}

/* https://stackoverflow.com/questions/306924/can-i-change-the-checkbox-size-using-css */
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-left: 10px;
}

#sfx_cb_container,
#animate_cb_container {   
    position: relative;
    display: flex;
    justify-content: flex-start;
}


@media (width <= 450px) {
  select{
    height: 25px;
  }
}

#dice_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.die_container{
  padding: 5px;
}

/* variable image sizes set at resizeDiceImages() */
.xxs{ width: 10vw; }
.xs{ width: 15vw; }
.s{ width: 20vw; }
.m{ width: 25vw; }
.l{ width: 30vw; }
.xl{ width: 35vw; }
.xxl{ width: 75vw; }

#size_feedback{
  margin-left: 5px;
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
/* slider style */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
/* end slider style */

.white{ background-color: aliceblue; }
.purple{ background-color: mediumpurple; }
.green{ background-color: cadetblue; }
.blue{ background-color: cornflowerblue; }